.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    
    justify-content: center;
    background-color: #1a1a1a;
    
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 2px solid #ef5350;
    border-radius: 0 0 10px 10px;
}

.search > h2 {
    margin-right: 10px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.search > input {
    width: 300px;
    padding: 8px 12px;
    border: 2px solid #ef5350;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search > input:focus {
    border-color: #ff7961;
    box-shadow: 0 0 5px #ff7961;
    scale: 1.01;
}

